body{
    
    overflow: auto;
}
div.question {
    margin: 15px;
    position: absolute;
    top: 40%;
    left: 30%;
}


span.correct {
    color: green;
}

span.incorrect {
    color: red;
}

div.question input {
    width: 100px;
    height: 120px;
    font-size: 50px;
    margin: 10px;
    padding-left: 70px;
}

div.question label {
    font-size: 75px;
    margin: 30px;
}

div.question button {
    padding: 0.7em 1.4em;
    margin: 0 0.3em 0.3em 0;
    border-radius:100px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #3369ff;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
    text-align: center;
    position: relative;
    right: 0px;
    top: 70px;
    float: right;
    outline: none;
    border: none;
    transition: all 0.25s;
}

div.question button:active {
    top: 70.5px;
    color:black;
    background-color: cornflowerblue;
}

div.question button:hover{
    outline:none;
    background-color: darkblue;
}


@media all and (max-width:30em) {
    div.question button {
        display: block;
        margin: 0.4em auto;
    }
}

.correct {
    font-weight: bold;
}

.incorrect {
    font-weight: bold;
}



li {
    font-family: 'Bebas Neue', cursive;
    list-style-type: none;
}

.total {
    color: rgb(146, 0, 146);
    display:inline-block;
    transition: all 0.25s;
    position: absolute;
    margin: 5px;
    top: 100px;
    left: 36%;
    border: 2px solid violet;
    border-radius:5px;
    padding:5px;
}



.corAns {
    color: rgb(19, 133, 66);
    transition: all 0.25s;
    display:inline-block;
    position: absolute;
    top:100px;
    margin: 5px;
    left:46%;
    border: 2px solid #73AD21;
    border-radius: 5px;
    padding:5px;
    
}



h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.grey {
    background-color: snow;
}

.buttons {
    padding: 0.7em 1.4em;
    margin: 0 0.3em 0.3em 0;
    border-radius:100px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #3369ff;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
    text-align: center;
    position: relative;
    right: 0px;
    top: 21px;
    float: right;
    outline: none;
    border: none;
    transition: all 0.25s;
}

.buttons:active {
    top: 4.5px;
    color:black;
    background-color: cornflowerblue;
}

.buttons:hover{
    outline:none;
    background-color: darkblue;
}

@media all and (max-width:30em) {
    .buttons {
        display: block;
        margin: 0.4em auto;
    }
}

#label{
  position: absolute;
  top: 25px;
  right: 200px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bolder;
}


.answer{
    font-size: 20px;
    position: absolute;
    right: 10%;
    top: 10%;
    margin: 50px;
    overflow: auto;
    height: 500px;
    width:125;
    
}

.youaredone{
    display:inline-block;
    border-radius: 5px;
    font-size: 20px;
    position: absolute;
    text-shadow: 2px 2px  rgb(0, 132, 255);
    color:cornflowerblue;
    top:43.555%;
    left:14.45%;
    margin:5px;
    padding:0px;
}

.congrats{
    display:inline-flex;
    text-shadow: 2px 2px teal;
    color: darkturquoise;
    position: absolute;
    top:300px;
    left:8%;
}
/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

html { font-size:100%; } 

@media (min-width: 640px) { body {font-size:1rem;} } 
@media (min-width:960px) { body {font-size:1.2rem;} } 
@media (min-width:1100px) { body {font-size:1.5rem;} } 